<div class='container center white-text welcome'>
  <h3>Welcome to Razors</h3>
  <p>Please find your name on the list below and check in for your appointment</p>
</div>
<br>
<%= react_component('App', prerender: false) %>
